* {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-weight: lighter;
}

body {
  overflow: hidden;
  background: #eee;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
}

#header {
  color: white;
  background: black;
}

h2 {
  text-align: center;
  color: white;
  font-size: 14px;
  background: #555;
  padding: 10px;
  margin: 20px 0;
}

h2:first-child {
  margin-top: 0;
}

#run-section {
  position: absolute;
  width: 100%;
  top: 38px;
  background: #eee;
  height: 100%;
  right: 0;
  /* padding-top: 38px; */
  box-sizing: content-box;
  transition: right .3s ease-in-out;
}

#run-section.open {
  right: 500px;
}

#build-section {
  width: 500px;
  position: absolute;
  right: 0;
  background: #555;
  height: 100%;
}

#edit-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
}

.caption {
  margin-top: 25px;
  font-size: 16px;
  margin-bottom: 18px;
  color: white;
}

li {
  text-align: center;
}

div {
  text-align: center;
}

input {
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  border: 1px solid #555;
}

button {
  padding: 5px 10px;
  border-radius: none;
  appearance: none;
  height: 30px;
  cursor: pointer;
  background: white;
  border: 1px solid #555;
}

ul {
  border: 1px solid #555;
  border-radius: 10px;
  margin: 0 20px;
  list-style-type: none;
}

li {
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

#progress-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
}

#run {
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -77px;
  color: #555;
  cursor: pointer;
}

.controls {
  position: absolute;
  width: 100%;
  top: 50%;
  font-size: 30px;
  color: #555;
  margin-top: 20px;
}

.controls div {
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
}

#time-left {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -30px;
  font-size: 25px;
  color: #555;
}

#current-stage {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -70px;
  font-size: 25px;
  color: #555;
}

#next-stage {
  display: none;
}